:root {
    --color-black: '#1E2222';
    --color-primary: #00ffff;
    --color-secondary: #20232a;
}

/* ------ Widgets ------ */

* {
    color:  var(--color-primary);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-secondary);
}

/* Components - Buttons and Inputs */

.btn-primary, 
input {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 16px;
}

input {
    text-align: right;
    width: 245px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-primary:hover {
    opacity: .5;
    cursor: pointer;
}

.btn-primary:active {
    opacity: .3;
}

.btn-top-next {
    align-items: center;
    display: flex;
    position: absolute;
    right: 30px;
    text-align: center;
    top: 20px;
}

.btn-top-next svg {
    margin-left: 7px;
}

/* Components - hr */

hr {
    border: 0px;
    height: 0px;
    margin: 10px 0px;
    text-decoration: none;
}

/* ------ App ------ */

.App {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    font-size: 20px;
    height: 100vh;
    justify-content: center;
}

/* ------ Content ------ */

.title {
    color: var(--color-black);
    font-size: 70px;
}

.buttons-container,
.custom-container {
    align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
}

.buttons-container .btn-primary:first-child {
    margin-left: 0px;
}

.buttons-container .btn-primary {
    margin-left: 40px;
}

.custom-container input,
.custom-container .btn-primary {
    margin-left: 20px;
}

/* ------ Footer ------ */

.footer {
    bottom: 15px;
    font-size: 15px;
    position: absolute;
}