.App {
    flex-flow: row;
}

.main {
    width: 100%;
}

.main .title {
    margin-bottom: 7vh;
    text-align: center;
}

.main-todo {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.empty-div {
    padding: 20px;
}

.todo-actions {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.todo-actions .btn-action {
    border: 0;
    font-size: 40px;
    margin: 20px 0px;
    padding: 0px;
} 

.todo-content {
    margin: 0px auto;
    text-align: center;
}

.todo-content h2 {
    margin-bottom: 20px;
}

.todo-list {
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    height: 40vh;
    list-style: none;
    overflow: auto;
    text-align: left;
    width: 25vw;
}

.todo-list li.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 16px;
    transition: background-color .2s, color 0.4s;
}

.todo-list li.todo-item div {
    max-width: 20vw;
    width: 100%;
}

.todo-list li.todo-item:hover div {
    color: var(--color-secondary);
}

.todo-list .todo-item:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.todo-list .todo-item:hover .checkbox svg path {
    color: var(--color-secondary);
}

.todo-list .todo-item:hover .remove path {
    color: var(--color-secondary);
}

.todo-add {
    display: flex;
    margin-top: 20px;
}

.todo-add input{
    margin-right: 10px;
}

.todo-add input {
    width: 100%;
}